---
import { getCollection } from "astro:content";
import BlogCard from "../../components/blog-card.astro";
import MainLayout from "@/layouts/main-layout.astro";

const blogEntries = await getCollection("blog");
---

<MainLayout title="ブログ">
  <section class="container py-10">
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-6 gap-y-9 md:gap-y-11 lg:gap-y-16 lg:gap-x-8"
    >
      {blogEntries.map((entry) => <BlogCard {...entry} />)}
    </div>
  </section>
</MainLayout>
