---
import "@/styles/globals.css";

interface Props {
  title: string;
  description?: string;
}

const {
  title,
  description = "フロントエンドを中心にプログラミングに役立つ情報を発信します。",
} = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
