---
import BaseHead from "@/components/layout/base-head.astro";
import { cn } from "@/lib/utils";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  description?: string;
  bodyClass?: string;
}

const { title, description, bodyClass } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead title={title} description={description} />
    <ViewTransitions />
    <slot name="head" />
  </head>

  <body class={cn("min-h-screen", bodyClass)}>
    <slot />
  </body>
</html>
